apiVersion: apps/v1
kind: Deployment
metadata:
  name: faucet
  namespace: faucet
  labels:
    app: faucet
spec:
  revisionHistoryLimit: 1
  replicas: 1
  selector:
    matchLabels:
      app: faucet
  template:
    metadata:
      labels:
        app: faucet
    spec:
      containers:
        - name: faucet
          image: docker.io/faucet/faucet:latest
          resources:
            limits:
              cpu: "50m"
              memory: "100Mi"
          ports:
            - containerPort: 6653
            - containerPort: 9302
            - containerPort: 9179
          volumeMounts:
            - name: faucet-config
              mountPath: /etc/faucet
        - name: gauge
          image: docker.io/faucet/gauge:latest
          resources:
            limits:
              cpu: "50m"
              memory: "100Mi"
          ports:
            - containerPort: 6654
            - containerPort: 9303
      volumes:
        - name: faucet-config
          hostPath:
            path: /home/zsombor/diplomaterv/configuration/faucet
            type: Directory
      nodeSelector:
        custom-label: "k3s-2-node"